@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  font-weight: lighter;
}

/* Calm Button */
#calmBtn{
  width: 15%;
  background-color: #0002DE;
  color: white;
}

#calm{
  display: none;
}
